<div role="group" class="example-tel-input-container" [formGroup]="parts">
  <input
    class="example-tel-input-element"
    formControlName="valor1"
    size="3"
    maxLength="3"
    (input)="_handleInput(parts.controls.valor1, valor2)"
    #valor1
  />
  <span class="example-tel-input-spacer">&#47;</span>
  <input
    class="example-tel-input-element"
    formControlName="valor2"
    maxLength="3"
    size="3"
    (input)="_handleInput(parts.controls.valor2)"
    (keyup.backspace)="autoFocusPrev(parts.controls.valor2, valor1)"
    #valor2
  />
</div>
