<div style="display: flex; justify-content: center; align-items: center; border: 1px solid red;" >
  <form (ngSubmit)="onSubmit()" #form="ngForm" [formGroup]="formulario">
    <mat-form-field appearance="fill">
      <mat-label>Phone number</mat-label>
      <app-my-tel-input formControlName="telefono" required></app-my-tel-input>
      <mat-hint>Include area code</mat-hint>
    </mat-form-field>

    <mat-form-field appearance="fill">
      <mat-label>Presión arterial</mat-label>
      <app-custom-input formControlName="presion" required></app-custom-input>
    </mat-form-field>

    <button>Submin</button>
  </form>
</div>
